#################################################################################
# Mac
#################################################################################
:2e*
*~
-.save
.com.apple.timemachine*
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

#################################################################################
# Node && Misc. Ignores
#################################################################################
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
./.bin
pids
logs
results


#################################################################################
# Vim
#################################################################################
.*.sw[a-z]
*.un~
Session.vim
.netrwhist
__Gundo_Preview__
NERD*


#################################################################################
# Compiled Assets
#################################################################################
bundle.js

#################################################################################
# Package Manager
#################################################################################
node_modules
bower_components
npm-debug.log


#################################################################################
# Configuration
#################################################################################
